# Microsoft Azure AD Configuration for Office 365 Integration
# You need to register an app in Azure AD to get these values
# Visit: https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade

# Your Azure AD application (client) ID
VITE_MICROSOFT_CLIENT_ID=your_client_id_here
